html, body {
    height: 100%; /* Ensure body and html elements take the full height */
    margin: 0;  /* Remove default margins */
    padding: 0; /* Remove default padding */
    font-family: 'Times New Roman', Times, serif;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    width: 100%;  /* Full width */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-width: 1000px;  /* Optional max width for container */
    color:black;
}


h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

label {
    font-size: 16px;
}

input[type="text"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: lightyellow;
    color: #4B1E0C;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.full-width {
    grid-column: 1 / span 2;
}

button {
    background-color: #8E2C2B;
    color: lightyellow;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    grid-column: 1 / span 2;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.feedback-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    grid-column: 1 / span 2;
    text-shadow:2px 2px 4px rgba(255, 255, 255, 0.4);
}


.feedback-success {
    color: #28a745; /* Bootstrap green */
}

.feedback-error {
    color: #dc3545; /* Bootstrap red */
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #8E2C2B;
    position: relative;
}

nav ul li {
    position: relative; /* Needed for dropdown positioning */
    margin: 0 20px;
}

nav ul li a {
    color: lightyellow;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Didot', serif;
    text-align: center;
    /* padding: 10px 15px; */
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  

.dropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: lightyellow;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8E2C2B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 15px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: lightyellow;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    text-decoration: underline;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.hero-image {
    background-image: url('Image/background.png'); /* Ensure correct image path */
    background-size: 100% 100%;  /* Make the background cover the entire width and height */
    background-position: center;
    height: 100vh; /* This will make sure the image covers the entire viewport */
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: lightyellow;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text p {
    font-size: 1.2em;
}

/* Button styling */
.explore-btn {
    border: 2px solid lightyellow; /* Added the border width and style */
    padding: 10px 20px;
    text-decoration: none;
    color: lightyellow;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.explore-btn:hover {
    border-color: lightyellow; /* Change border color on hover */
}


/* Container Styles */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Button Container Styles */
.button-container {
    display: flex;
    justify-content: space-around;  /* This will distribute buttons evenly across the row */
    gap: 20px;  /* Space between buttons */
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Action Button Styles */
.action-button {
    display: block;
    width: 200px;  /* Adjust the width to make buttons larger */
    height: 200px;  /* Square shape by setting height equal to width */
    padding: 20px;
    background-color: #8E2C2B;  /* Set default background color */
    color: lightyellow;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    border-radius: 10px;  /* Optional: Rounded corners */
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8); /* Adding text shadow */
}

.action-button:hover {
    background-color: black;  /* Slightly lighter shade for hover effect */
}


.action-button.add-recipe {
    background-image: url('Image/add_recipe.avif');  /* Set your image here */
    background-size: cover;  /* Make sure the image covers the button area */
    background-position: center;  /* Center the image */
    color: lightyellow;  /* Keep the text color white to make it visible */
    margin-top: 50px;
}

.action-button.add-recipe:hover {
    background-color: rgba(142, 44, 43, 0.7);  /* Slightly lighter color on hover */
    transform: scale(1.05);  /* Slightly enlarge the button when hovered */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8);  /* Add shadow effect on hover */
}

.action-button.edit-recipe {
    background-image: url('Image/edit_recipe.jpg');  /* Set your image here */
    background-size: cover;  /* Make sure the image covers the button area */
    background-position: center;  /* Center the image */
    color: lightyellow;  /* Keep the text color white to make it visible */
    margin-top: 50px;
}

.action-button.edit-recipe:hover {
    background-color: rgba(142, 44, 43, 0.7);  /* Slightly lighter color on hover */
    transform: scale(1.05);  /* Slightly enlarge the button when hovered */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8);  /* Add shadow effect on hover */
}

.action-button.delete-recipe {
    background-image: url('Image/delete_recipe.jpg');  /* Set your image here */
    background-size: cover;  /* Make sure the image covers the button area */
    background-position: center;  /* Center the image */
    color: lightyellow;  /* Keep the text color white to make it visible */
    margin-top: 50px;
}

.action-button.delete-recipe:hover {
    background-color: rgba(142, 44, 43, 0.7);  /* Slightly lighter color on hover */
    transform: scale(1.05);  /* Slightly enlarge the button when hovered */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8);  /* Add shadow effect on hover */
}

.action-button.search-recipe {
    background-image: url('Image/search_recipe.webp');  /* Set your image here */
    background-size: cover;  /* Make sure the image covers the button area */
    background-position: center;  /* Center the image */
    color: lightyellow;  /* Keep the text color white to make it visible */
    margin-top: 50px;
}

.action-button.search-recipe:hover {
    background-color: rgba(142, 44, 43, 0.7);  /* Slightly lighter color on hover */
    transform: scale(1.05);  /* Slightly enlarge the button when hovered */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8); /* Add shadow effect on hover */
}

/* Apply background to the recipe-header and recipe-list */
.recipe-header {
    background-image: url('Image/background6.png'); /* Make sure this path is correct */
    background-size: cover;  /* The background image covers the entire section */
    background-position: center;  /* Centers the background image */
    background-attachment: fixed;  /* Keeps the background fixed while scrolling */
    background-repeat: no-repeat;  /* Prevents repeating the background image */
    min-height: 100vh;
    padding: 20px;  /* Adds padding inside the recipe list */
    text-align: center;  /* Ensures a small space between the header and recipe list */
    display: block;
    color: lightyellow;

}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    padding: 40px;
    justify-items: center;
    margin-bottom: 100px;
}

.recipe-box {
    width: 180px;
    height: auto;
    background-color: white;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 40px;
}

.recipe-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.recipe-title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
    text-shadow:4px 4px 6px rgba(255, 255, 255, 0.4);
}

.recipe-box img {
    width: 100%;
    height: 180px; /* Make height equal to width for square shape */
    object-fit: cover;
    border-radius: 4px;
}

.recipe-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 30px;
    margin: 30px auto;
    background-color: rgba(255,255,255,0.85);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 90%; /* Allows responsive resizing */
    width: fit-content; /* Adapts to content width */
    margin-bottom: 80px;
}


.recipe-image img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.recipe-content {
    max-width: 600px;
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
    color: black;
}

.recipe-image-placeholder {
    width: 100%;
    height: 100px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border-radius: 4px;
}

.addrecipe-header {
    background-image: url('Image/background6.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightyellow;
    
}


.addrecipe-container{
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    color: black;
    margin-bottom: 80px;
}

/* Style the page title above the form */
.addrecipe-title {
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: lightyellow;
    font-family: 'Didot', serif;
    text-align: center;
}

.recipe-detail {
    background-image: url('Image/background6.png'); /* Make sure this path is correct */
    background-size: cover;  /* The background image covers the entire section */
    background-position: center;  /* Centers the background image */
    background-attachment: fixed;  /* Keeps the background fixed while scrolling */
    background-repeat: no-repeat;  /* Prevents repeating the background image */
    min-height: 100vh;
    padding: 20px;  /* Adds padding inside the recipe list */
    text-align: justify;  /* Ensures a small space between the header and recipe list */
    display: block;
    color: lightyellow;
}

.ingredients-warning {
    grid-column: 1 / span 2;
    width: 100%;
    color: red;
    font-weight: normal;
    font-size: 16px;
    margin: -10px 0 10px 0;
    padding-left: 5px;
    text-align: left;
}


.search-bar-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-bar-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.search-bar-container button {
    padding: 10px 20px;
    background-color: #8E2C2B;
    color: lightyellow;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.search-bar-container button:hover {
    background-color: black;
}


footer {
    background-color: #8E2C2B;
    text-align: center;
    padding: 20px;
    color: lightyellow;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
