/* Override boostrap */

body {
  line-height: unset !important;
}

main {
  padding-bottom: 5rem !important;
}

.dropdown {
  position: unset !important;
}

form {
  display: block;
}

h2 {
  margin-bottom: auto;
}

footer {
  position: relative;
  margin-top: 20px;
}

body {
  background-image: url('../Image/background.png'); /* Path to your background image */
  background-size: cover;  /* Cover the entire viewport */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;  /* Ensure the body covers the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  color: white; /* Optional: Set text color for better readability */
}
