/* Override boostrap */

body {
  line-height: unset !important;
}

.dropdown {
  position: unset !important;
}

form {
  display: block;
}

h2 {
  margin-bottom: auto;
}

footer {
  position: relative;
  margin-top: 20px;
}