/* Override boostrap */

body {
  line-height: unset !important;
}

main {
  padding-bottom: 5rem !important;
}

.dropdown {
  position: unset !important;
}

form {
  display: block;
}

h2 {
  margin-bottom: auto;
}